
.visibility{
    display: none;
}
.video{
    position: absolute;    
}
h1{
    z-index: 2;
}
body{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: yellow
}
.changer{
    position: relative;
    background-color: black;
    width: 190px;
    height: 100px;
    border-radius: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    transition: ease-in-out .9s;
    z-index: 1;
}
.circle1{
    transform: translatex(100px);
}
.img{
    position: absolute;
    width: 60px;
    z-index: 0;
}
#sun{
    right: 0;

}